.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("kitchen0.jpg");
    background-position: center;
    background-repeat: no-repeat;
    margin: 20px;
    padding: 200px;
}

.logo{
    display:inline;
    /* display: flex; */
    margin-top: 0px;
}
a{
    text-decoration: none;
}
h1 {
    font-family: 'Spectral', serif;
    font-weight: 700;
    font-size: 100px;
    text-align: center;
}
body{
    height: 100%;
    margin: 0px, 20px;
    font-family: 'Spectral', serif;
    font-weight: 300;
    
}
.topnav {
   display: inline;
    background-color: #FFFFFF;
    overflow: hidden;
    
}
.topnav a {
    vertical-align: middle;
    border-radius: 5px;
    float: right;
    color: black;
    text-align: center;
    padding: 14px 16px;
    font-size: 20px;
    margin: 5px;
  
}
.topnav a:hover {
    background-color: #B0C4DE;
    color: black;
    text-decoration: none;
}

.topnav a.active {
    background-color: #111;
  /* background-color: #ADD8E6; */
  color: white;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.sidenav a:hover {
    color: #f1f1f1;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.row{
    display: flex;
    justify-content: center;
    margin: auto;
}
.about{
    display: flex;
}
.contact{
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sidenav{
    display:none;
}
#menu{
    display: none;
}
@media (max-width: 575.98px) { 
    .sidenav {padding-top: 15px;
    display: block;}
    .sidenav a {font-size: 18px;}
    .container{
        display: none;
    }
    .topnav a{
        display: none;
    }
    .about{
        display: block;
    }
    .mom{
        width: 95%;
        margin: 1em;
    }
    #menu{
        
        display: inline;
       
    }
    
    
}
/* @media screen and (max-height: 450px) { */
  